@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,500;1,500&family=Poppins:ital,wght@0,700;1,100;1,300;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
}


body {
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.main-div {
    height: 455px;
    width: 315px;
    border-radius: 15px;
    padding: 10px;
    background-color: #232222;
    position: absolute;
    top: 10%;
}

.imag-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20px;

}

img {
    width: 45%;
    height: auto;
    border-radius: 50%;
    object-fit: fill;
    border: 2.5px solid white;

}

.name-text,
.location-text,
.profession-text {
    position: relative;
    top: 10px;
    color: white;
    font-weight: bolder;
    font-family: 'Mukta', Courier, monospace;
    font-size: x-large;
}

.location-text {
    font-size: large;
    color: #d5d59c;
    top: 8px;
}

.profession-text {
    font-size: small;
}

.button {
    margin-top: 20px;
}

a:link,
a:visited {
    background-color: #333333;
    color: white;
    padding: 6px 100px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a:hover,
a:active {
    background-color: #404040;
}